<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<div class="container-fluid text-center">
    <!--    <div>-->
    <!--        <img th:src="@{/images/ShopmeAdminBig.png}"/>-->
    <!--    </div>-->
    <div>
        <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
            <!--            Spring error message-->

            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.</div>
            <div th:if="${param.logout}" class="alert alert-warning">
                You have been logged out.</div>
            <!--            Spring logout message-->
            <br/>
            <div class="border border-secondary rounded p-5">
                <p>Access Employee Management System</p>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="email"
                           id="username" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password"
                           id="password" name="password" required>
                </div>
                <div class="form-group">
                    <input name="remember-me" type="checkbox"> Remember Me
                </div>
                <div class="footer-box">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>
        </form>
        <br><a  th:href="@{/users/register}">Create Account</a>
    </div>
</div>

</body>
</html>