<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col border m-3 p-2">
            <div><label>Main Image: <b>[[${product.mainImage}]]</b></label></div>
            <div class="m-2">
                <img src="" th:src="@{${product.mainImagePath}}" id="thumbnail"
                     alt="Main Image Preview" class="img-fluid"/>
            </div>
            <div>
                <input type="file" id="fileImage" name="fileImage"
                       th:required="${product.mainImage ==null}"
                       accept="image/png, image/jpeg"/>
            </div>
            <input type="hidden" th:field="*{mainImage}"/>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2" th:id="'divExtraImage' +${status.index}">
                <div>
                    <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                    <a name="linkRemoveDetail" class="btn fas fa-times-circle fa-2x icon-dark float-right"
                       title="Remove this image"></a>
                </div>
                <div class="m-2">
                    <img src="" th:src="@{${productImage.imagePath}}"
                         th:id="'extraThumbnail' + ${status.index}"
                         th:alt="'Extra Image #'+${status.index + 1}+ 'Preview'" class="img-fluid"/>
                </div>
                <div>
                    <input type="file" name="extraImage" accept="image/png, image/jpeg"/>
                </div>
                <input type="hidden" name="imageIDs" th:id="'imageId' +${status.index}"
                th:value="${productImage.id}"/>
                <input type="hidden" name="imageNames" th:id="'imageName' +${status.index}"
                th:value="${productImage.name}"/>
            </div>
        </th:block>

        <div class="col border m-3 p-2"
             th:id="'divExtraImage' +${numberOfExistingExtraImages}">
            <div th:id="'extraImageHeader' +${numberOfExistingExtraImages}">
                <label>Extra Image #[[${numberOfExistingExtraImages + 1}]]:</label>
            </div>
            <div class="m-2">
                <img src="" th:src="@{/images/image-thumbnail.png}"
                     th:id="'extraThumbnail' +${numberOfExistingExtraImages}"
                     class="img-fluid" alt="'Extra Image '+${numberOfExistingExtraImages}+ 'Preview'" />
            </div>
            <div>
                <input type="file" name="extraImage" accept="image/png, image/jpeg"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>